h3{
    font-family: 'Montserrat', sans-serif;
    color:#27374D;
}
h4{
    font-family: 'Montserrat', sans-serif;
    color:#27374D;
}
.container{
     margin-left: 5%;
     margin-right: 5%;
     max-width: 90%;
}
.logo{
    color:#27374D;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
.a{
    color: white;
}
.header{
    background-color:#C4DFDF;
}
button{
    color:#27374D;
}
button:hover{
    outline: 1px solid #27374D;
    
}
.custom-btns{
    margin-left: 2%;
    margin-right: 2%;
}
