<div class="wrapper">
  <div class="panel">
    <div class="panel-header">
      <h3 class="title">Statistics</h3>
    </div>

    <div class="panel-body">
      <div class="categories">
        <div class="category">
          <span class="img material-symbols-outlined">
            group
          </span>
          <span>Users {{users}}</span>
        </div>
        <div class="category">
          <span class="img material-symbols-outlined">
            shopping_cart
          </span>
          <span>Products  {{products}}</span>
        </div>
        <div class="category">
          <span class="img material-symbols-outlined">
            reviews
          </span>
          <span>Reviews  {{reviews}}</span>
        </div>
      </div>
      <div class="card mb-3">
        <img src="assets/images/logo.png" width="100%" height="30%" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Welcome to BriefReview, the ultimate destination for product reviews! Discover valuable insights and opinions from real users, share your own experiences, and find the answers you need before making your next purchase. Join our vibrant community and make informed decisions with confidence.</p>
          <button class="btn btn-outline-secondary" (click)="goToRegisterPage()">Join</button>
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>

  </div>
</div>