.card{
    padding:20px;
    margin:10px;
}
.alert{
    margin:5%;
}
.custom-btn{
    margin:10px;
}
.container{
    width:70%;
}
.header{
    // margin-top: 2%;
    margin-bottom: 2%;
    color:#4F709C
}
.card-body{
    margin-bottom: 5%;
    color:#4F709C;
}
p.product-des{
    margin-top:10%;
    color:black;
}
p.card-text{
    margin-top:5%;
    color:black;
}
.rating{
    margin-top: 10%;
}
p.card-content{
    color:#4F709C;
}
.review-heading{
    color:#4F709C;
}

.material-symbols-outlined {
  color: #4F709C;
  outline: #4F709C;
  fill: antiquewhite;
}
