.postreviewForm{
    display: flexbox;
    flex-direction: row;
    margin-left:5%;
    margin-right:5%;
    padding-top:3%;
    padding-bottom:4%;
}
.alert{
    margin:5%;
}
.form-group{
    padding-bottom: 10px;
}

.header{
    margin-bottom: 5%;
    color:#4F709C
}
.container{
    margin-top: 7%;
    width:60%;
    height:50%;
    background-color: #D2E9E9;
    
}