.login-form{
    display: flexbox;
    flex-direction: row;
    margin-left:5%;
    margin-right:5%;
    padding-top:3%;
    padding-bottom:4%;
}
.form-group{
    padding-bottom: 10px;
}
.btn{
    margin-top:5%;
    border: 1px solid #4F709C;
    color:#4F709C;
}
.btn:hover{
    background-color: #4F709C;
    color:white
}
.header{
    margin-bottom: 5%;
    color:#4F709C
}
.container{
    margin-top: 7%;
    width:60%;
    height:50%;
    background-color: #D2E9E9;
    
}
.alert{
    margin:5%;
}