<div *ngIf="userloginFailed && adminloginFailed" class="alert alert-warning" role="alert">
  Invalid Credentails
</div>
<div class="card mb-3 shadow-lg p-3 mb-5  rounded container">
  <div class="login-form">
    <div class="d-flex justify-content-center header">
      <h2>Login</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="text" formControlName="username" class="form-control" placeholder="Enter your Email"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Email is required</div>
            <div *ngIf="f['username'].errors['email']">Invalid email</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
          <input type="password" formControlName="password" class="form-control"
            placeholder="Password must be between 5-40 characters"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 5 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Password must not exceed 40 characters
            </div>
          </div>
        </div>
      </div>
      <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn col-auto">Log In</button>
      </div>
      <div class="form-group d-flex justify-content-center">
        <p>Don't have an account? <a routerLink="/users/signUp">Register</a> here</p>
      </div>
    </form>
  </div>
</div>